.card-columns {
    column-count: 3;
  }
  
  .card-columns .card {
    margin-bottom: 10rem;
  }
  .cocktail-container {
    min-height: 100vh; /* Ensure the container takes up at least the viewport height */
    display: flex;
    flex-direction: column;}


  