.card-detail {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card-detail p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: .75rem;
  }
  
  .card-detail ul {
    margin-bottom: 1.5rem;
  }
  
  .card-detail ul li {
    font-size: 1.2rem;
  }